@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cairo;
    color: white;
    user-select: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #FF0099, #493240);
}

h1{
    color: #00acee;
    user-select: text;
}

.text{
    width: 40%;
    outline: none;
    margin-top: 12px;
    padding-left: 12px;
    caret-color: white;
    color: white;
    background-color: rgb(56, 47, 47);
    border: 0;
    border-radius: 6px;
    height: 36px;
    transition: all ease 0.4s;
    cursor: pointer;
}

.text:focus{
    cursor: text;
}

.text::placeholder{
    color: wheat;
}

.text:focus::placeholder{
    color: rgb(138, 105, 105);
}

.button{
    transition: all ease 0.4s;
    color: white;
    background-color: #3b5998;
    margin-top: 18px;
    border: 0;
    border-radius: 6px;
    height: 42px;
    width: 266px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover{
    background-color: #2e4669;
}

.button:active{
    background-color: #2e3269;
}


.image{
    height: 250px;
    margin-top: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.image:hover{
    transform: scale(1.1);
}

p{
    margin-top: 26px;
    font-size: 20px;
}